

 #wrapper {
    /*we need to tell the browser the size of the warpper div*/
    width: 100%;
    height: 100%;
    /*align the top left corner of the page to the center
 of the browser*/
    position: absolute;
    top: -3px;
    left: 0%;
    /*offset the page by half the width and height*/
    left: 0px;
    background-position: left top;
    background-color: #ffffff;
    margin-left: 15%;
}
.mmmspace {
    white-space: pre;
}

.pPage {
    margin-left: 0px;
    margin-top: 0px;
    color: black;
    font-family: Verdana;
    font-size: small;
    font-style: normal;
    font-weight: normal;
    background-color: White;
    width: 710px;
}
.pPage2 {
    margin-left: 0px;
    margin-top: 0px;
    color: black;
    font-family: Verdana;
    font-size: small;
    font-style: normal;
    font-weight: normal;
    background-color: White;
    width: 800px;
}
    .pPage1 {
    margin-left:200px;
    margin-top: 0px;
    color: black;
    font-family: Verdana;
    font-size: small;
    font-style: normal;
    font-weight: normal;
    background-color: White;
    width: 710px;
}

.LoginControl {
    background-color: #F7F7DE;
    border-color: #CCCC99;
    border-style: solid;
    border-width: 1px;
    font-family: Verdana;
    font-size: medium;
    color: Black
}

.pHeader {
    font-family: Verdana;
    font-size: x-large;
    font-weight: bold;
    color: #C42100;
    font-style: italic;
    text-align: left;
}

.pMainText {
    font-family: Verdana;
    font-size: small;
    font-style: normal;
    font-weight: normal;
}

.pHeader1 {
    font-family: Verdana;
    font-style: normal;
    font-size: small;
    font-weight: bold;
    color: #c42100;
}

.pHeader2 {
    font-family: Verdana;
    font-style: normal;
    font-size: small;
    font-weight: bold;
    color: #c42100;
    text-align: center
}

.pStrongTextIndented {
    font-family: Calibri;
    font-size: small;
    font-weight: bold;
}

.pNormalText {
    font-family: Verdana;
    color: black;
    font-weight: normal;
    font-size: small;
    font-style: normal;
    text-align: justify;
    width: 610px;
}

.pAnnDate {
    font-family: Calibri;
    font-size: large;
    color: black;
    text-align: center;
}

.pAnnSpeechTitle {
    font-family: Calibri;
    font-size: large;
    color: black;
    font-style: italic;
    text-align: center
}

.pAnnSpeaker {
    font-family: Calibri;
    font-size: xx-large;
    color: Black;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

.pStrongText {
    font-family: Verdana;
    color: black;
    font-weight: Bold;
    font-size: small;
    font-style: normal;
    text-align: left
}
.pStrongTextRight {
    font-family: Verdana;
    color: black;
    font-weight: Bold;
    font-size: small;
    font-style: normal;
    text-align:right
}
.pNormalTextNJ {
    font-family: Verdana;
    color: black;
    font-weight: Normal;
    font-size: medium;
    font-style: normal;
    text-align: left
}
.pSmallTextNJ {
    font-family: Verdana;
    color: black;
    font-weight: Normal;
    font-size: small;
    font-style: normal;
    text-align: left
}
.pVSmallTextNJ {
    font-family: Verdana;
    color: black;
    font-weight: Normal;
    font-size: smaller;
    font-style: normal;
    text-align: left
}


.pGridView {
    font-family: Arial;
    color: black;
    font-weight: Normal;
    font-size:medium;
    font-style: normal;
    
    
}
.pItalic {
    font-family: Verdana;
    color: Black;
    font-weight: normal;
    font-size: small;
    font-style: Italic;
    text-align: left
}

.menu {
    background-color: #628DBA;
    font-family: Arial;
    font-size: small;
    width: 162px;
    height: 15px
}

.menuitem {
    height: 30px;
    font-family: Arial;
    font-size: small;
    vertical-align: middle;
    background-color: #cccc99;
    width: 162px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-top-color: #000000;
    border-bottom-color: #FFFFFF;
}

.MenuStyle {
    color: #000089;
    background-color: #cccc99;
    font-family: Arial;
    font-size: small;
    width: 162px
}

.ln {
    color: black;
    width: 225px;
    height: 1px
}

.lns {
    color: black;
    width: 150px;
    height: 1px
}

.pNormalTextRight {
    font-family: Verdana;
    color: black;
    font-weight: Normal;
    font-size: small;
    font-style: normal;
    text-align: right
}
.bp {position:absolute;
     left:800px;
     top:120px
     

}

