vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Jun 2020 14:32:39 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|JEFF-PC\\jb_mo
vti_modifiedby:SR|JEFF-PC\\jb_mo
vti_timecreated:TR|18 Jun 2020 14:32:39 -0000
vti_cacheddtm:TX|18 Jun 2020 14:32:39 -0000
vti_filesize:IR|1758
vti_cachedlinkinfo:VX|S|../font/fontello.eot S|../font/fontello.eot S|../font/fontello.woff S|../font/fontello.ttf S|../font/fontello.svg
vti_cachedsvcrellinks:VX|FSUS|ckeditor/samples/toolbarconfigurator/font/fontello.eot FSUS|ckeditor/samples/toolbarconfigurator/font/fontello.eot FSUS|ckeditor/samples/toolbarconfigurator/font/fontello.woff FSUS|ckeditor/samples/toolbarconfigurator/font/fontello.ttf FSUS|ckeditor/samples/toolbarconfigurator/font/fontello.svg
vti_backlinkinfo:VX|ckeditor/samples/toolbarconfigurator/index.html
vti_syncofs_ccfrcville.org\:21:TW|18 Jul 2020 15:32:00 -0000
vti_syncwith_ccfrcville.org\:21:TX|18 Jun 2020 14:32:39 -0000
