vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Jun 2020 14:32:40 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|JEFF-PC\\jb_mo
vti_modifiedby:SR|JEFF-PC\\jb_mo
vti_timecreated:TR|18 Jun 2020 14:32:40 -0000
vti_cacheddtm:TX|18 Jun 2020 14:32:40 -0000
vti_filesize:IR|5114
vti_backlinkinfo:VX|ckeditor/samples/old/datafiltering.html ckeditor/samples/old/inlinetextarea.html ckeditor/samples/old/toolbar/toolbar.html ckeditor/samples/old/api.html ckeditor/samples/old/divreplace.html ckeditor/samples/old/readonly.html ckeditor/samples/old/replacebyclass.html ckeditor/samples/old/uicolor.html ckeditor/samples/old/dialog/dialog.html ckeditor/samples/old/ajax.html ckeditor/samples/old/index.html ckeditor/samples/old/inlineall.html ckeditor/samples/old/replacebycode.html ckeditor/samples/old/xhtmlstyle.html ckeditor/samples/old/enterkey/enterkey.html ckeditor/samples/old/htmlwriter/outputhtml.html ckeditor/samples/old/wysiwygarea/fullpage.html ckeditor/samples/old/appendto.html ckeditor/samples/old/tabindex.html ckeditor/samples/old/htmlwriter/outputforflash.html ckeditor/samples/old/magicline/magicline.html ckeditor/samples/old/inlinebycode.html ckeditor/samples/old/jquery.html ckeditor/samples/old/uilanguages.html
vti_syncofs_ccfrcville.org\:21:TW|18 Jul 2020 15:32:00 -0000
vti_syncwith_ccfrcville.org\:21:TX|18 Jun 2020 14:32:40 -0000
