vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Jun 2020 14:32:42 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|JEFF-PC\\jb_mo
vti_modifiedby:SR|JEFF-PC\\jb_mo
vti_timecreated:TR|18 Jun 2020 14:32:42 -0000
vti_cacheddtm:TX|18 Jun 2020 14:32:42 -0000
vti_filesize:IR|14760
vti_cachedlinkinfo:VX|S|images/spinner.gif S|images/close.png S|images/hidpi/close.png S|images/refresh.png S|images/hidpi/refresh.png S|images/lock.png S|images/lock-open.png S|images/hidpi/lock.png S|images/hidpi/lock-open.png
vti_cachedsvcrellinks:VX|FSUS|ckeditor/skins/moono-lisa/images/spinner.gif FSUS|ckeditor/skins/moono-lisa/images/close.png FSUS|ckeditor/skins/moono-lisa/images/hidpi/close.png FSUS|ckeditor/skins/moono-lisa/images/refresh.png FSUS|ckeditor/skins/moono-lisa/images/hidpi/refresh.png FSUS|ckeditor/skins/moono-lisa/images/lock.png FSUS|ckeditor/skins/moono-lisa/images/lock-open.png FSUS|ckeditor/skins/moono-lisa/images/hidpi/lock.png FSUS|ckeditor/skins/moono-lisa/images/hidpi/lock-open.png
vti_backlinkinfo:VX|
vti_syncofs_ccfrcville.org\:21:TW|18 Jul 2020 15:33:00 -0000
vti_syncwith_ccfrcville.org\:21:TX|18 Jun 2020 14:32:42 -0000
